# CRPS Score Summary

In [11]:
import numpy as np
import pandas as pd

In [13]:
df_dict= {'window_size': [], 'crps_mean': [], 'crps_median': [], 'crps_std': []}
for window_size in range(1, 7):
    df = pd.read_csv(f'../data/processed/windowSize{window_size}/processed_daysahead3_R000.csv', index_col=0)
    df_dict['window_size'].append(window_size)
    df_dict['crps_mean'].append(df.crps.mean())
    df_dict['crps_median'].append(np.median(df.crps))
    
    df_dict['crps_std'].append(df.crps.std())
df_crps = pd.DataFrame(df_dict)
df_crps

   window_size  crps_mean  crps_median   crps_std
0            1  52.060109    35.434429  45.208285
1            2  53.507100    35.714846  46.341064
2            3  54.385520    35.780720  46.931245
3            4  54.931871    35.866933  47.116743
4            5  55.175317    36.023738  46.905251
5            6  55.594646    36.109900  47.140268

In [8]:
dfs_window[

                          sigma     Vp_pred      Vp_obs        crps
2010-01-06 18:00:00   60.024994  304.787500  317.801667   15.148820
2010-01-07 00:00:00   56.502523  308.300000  307.610000   13.207717
2010-01-07 06:00:00   56.086581  316.100000  293.158333   16.799515
2010-01-07 12:00:00   49.940925  309.375000  282.966667   17.115700
2010-01-07 18:00:00   52.316099  302.650000  283.506667   14.989778
...                         ...         ...         ...         ...
2020-12-27 18:00:00   80.546863  331.900000  491.780000  115.860320
2020-12-28 00:00:00  102.325815  336.000000  504.466667  114.995742
2020-12-28 06:00:00  107.737104  332.283333  532.033333  141.647465
2020-12-28 12:00:00  119.429580  328.566667  477.500000   93.710461
2020-12-28 18:00:00  116.813853  324.850000  445.783333   73.220561

[16037 rows x 4 columns]