# Percentile Analysis

In [29]:
import numpy as np
import pandas as pd
from scipy.stats import norm

In [33]:
df_dataset = pd.read_csv('../data/processed/windowSize5/processed_daysahead3_R000.csv', index_col=0)
df_dataset.index = pd.to_datetime(df_dataset.index)
df_dataset.head()

                     sigma  Vp_pred  Vp_obs  crps
2010-01-08 18:00:00   73.7    320.6   283.5  24.5
2010-01-09 00:00:00   70.5    312.6   290.0  19.4
2010-01-09 06:00:00   73.4    304.6   294.8  17.7
2010-01-09 12:00:00   71.8    318.1   291.3  20.7
2010-01-09 18:00:00   78.4    305.4   279.0  21.8

In [34]:
inside = {
    50: [],
    75: [],
    90: [],
    95: [],
}

for _, row in df_dataset.iterrows():
    for percentile, records in inside.items():
        left, right = norm(loc=row.Vp_pred, scale=row.sigma).interval(percentile/100)
        records.append(bool(row.Vp_obs > left and row.Vp_obs < right))

In [35]:
df_rows = []

for percentile, records in inside.items():
    df_rows.append((percentile, 100*np.mean(records), 100*np.mean(records) - percentile, len(records)))

pd.set_option('display.float_format', '{:.1f}'.format)

df_output = pd.DataFrame(df_rows, columns=['Percentile', 'RateObsIncluded', 'Difference', 'SampleCount'])
df_output

   Percentile  RateObsIncluded  Difference  SampleCount
0          50             51.0         1.0        16021
1          75             74.5        -0.5        16021
2          90             89.1        -0.9        16021
3          95             94.3        -0.7        16021